*{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Libre Franklin', sans-serif;
}

.header{
    cursor: default;
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.1px solid var(--box-border);
    font-weight: 800;
}

.boxes-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-row{
    display: flex;
}

.boxes{
    width: 45px;
    height: 45px;
    border: 2px solid var(--box-border);
    margin: 3px;
}

.keyboard{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.key-row{
    display:flex;
}

.key{
    width: 25px;
    height: 60px;
    background-color: var(--key-color);
    margin: 4px;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    cursor: pointer;
    font-weight: 600;
    font-size: small;
}

#enter{
    width: 55px;
}

#del{
    width: 45px;
}