:root{
    --bg-color: #121213;
    --key-color: #818384;
    --box-border: #3a3a3c;
    --grey-fill: #3a3a3c;
    --yellow-fill: #b59f3b;
    --green-fill: #538d4e;
    --box-border-filled: #565758;
}